REDIS_URL=redis://redis:6379
AUDIO_DIR=/app/audio
PDF_DIR=/app/pdfs

STT_BASE_URL=http://thor-stt:8090
STT_TRANSCRIBE_PATH=/transcribe
STT_TIMEOUT_SECONDS=14400
OLLAMA_HOST=http://ollama:11434
OLLAMA_MODEL=qwen2.5:7b
OLLAMA_TEMPERATURE=0.1
OLLAMA_NUM_PREDICT=2048
OLLAMA_TIMEOUT=3600

THOR_NETWORK=thor-rag_default

MAX_UPLOAD_MB=200
MAX_CHUNK_MB=50
MAX_AUDIO_BYTES=200000000

FRONTEND_ORIGINS=https://mico.argos-coterena.com

AUTH_ENABLED=true
FIRST_USERNAME=admin
FIRST_PASWORD=5kh57g8WONIMk5g137wt
SESSION_TOKEN=32pNKMho7HhIbJPyDksH
