__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv/
backend/.venv/

backend/audio/**
!backend/audio/.gitkeep

backend/pdfs/**
!backend/pdfs/.gitkeep

backend/__pycache__/

.env

*.zip

.DS_Store
*.swp
*.swo
*~

.vscode/
.idea/
*.iml
